
body{
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0 auto;
    padding: 0;
    border: none;  
}

/* #nav element style */

nav{
    /*background-color: thistle;*/
    text-align: right;
}

nav ul{
    list-style-type: none;
}

nav li{
    text-transform: capitalize;
    display: inline;
    margin-right: 10px;
}

nav a{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    text-transform: capitalize;
    font-size: 13px;
}

nav a:hover{
    text-decoration: underline;
}

.log-in{
    text-transform: capitalize;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(24, 117, 192);
    color: white;
}

.log-in:hover{
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.1,1.1);
}

/* content style*/

.logo{
    /*background-color: wheat;*/
    position: absolute;
    top: 50%;
    left: 43%;
    margin: -150px;
    text-align: center;
}


form{
    /*background-color: rgb(240, 105, 82);*/
    line-height: 4em;
}

form input{
    width: 500px;
    height: 30px;
    border: 1px solid rgb(226, 222, 222);
    border-radius: 25px;
}

form input:hover{
    box-shadow: 2px 2px 10px 4px #e2dede;
}

.search-btn button{
    width: 40%;
    height: 40px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(247, 242, 242);
}

.search-btn button:hover{
    border: 1px solid rgb(206, 201, 201);
    box-shadow: inset 0px 0px 5px 2px rgb(206 201 201);
}

.language-preferences{
    font-size: 13px;
    margin-top: -20px;
    
}

.language-preferences a{
    text-decoration: none;
    margin-left: 10px;
    font-size: 15px;
}

.language-preferences a:hover{
    text-decoration: underline;
}
/* footer style*/

    

.country{
    background-color: rgb(234, 238, 238);
    position: absolute;
    bottom: 50px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(179, 178, 178);
    border-left: none;
    border-right: none;
    font-size: 15px;
    color: gray;
}

.country p{
    margin: 0 15px;
    padding: 15px;
}

footer{
    background-color: rgb(234, 238, 238);
    position: absolute;
    bottom: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(179, 178, 178);
}

footer ul{
    list-style-type: none;
    padding: 0px;
}

footer li{
    display: inline;
    margin: 0px;
    padding: 0px;
}

footer a{
    text-decoration: none;
    font-size: 15px;
    color: gray;
    margin: 0 25px;
}

footer a:hover{
    text-decoration: underline;
}
