
body{
    font-family: Arial, Helvetica, sans-serif;   
}

/* #nav element style */

nav{
    background-color: thistle;
    text-align: right;
}

nav ul{
    list-style-type: none;
}

nav li{
    text-transform: capitalize;
    display: inline;
    margin-right: 10px;
}

nav a{
    text-decoration: none;
    color: rgba(0,0,0,0.87);
    text-transform: capitalize;
    font-size: 13px;
}

nav a:hover{
    text-decoration: underline;
}

.log-in{
    text-transform: capitalize;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(24, 117, 192);
    color: white;
}

.log-in:hover{
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.1,1.1);
}

/* content style*/

.logo{
    background-color: wheat;
    position: absolute;
    top: 150px;
    width: 300px;
    

}


form{
    background-color: rgb(240, 105, 82);
    position: absolute;
    top: 250px;
}

/* footer style*/

    

.country{
    background-color: turquoise;
    position: absolute;
    bottom: 130px;
}

footer{
    background-color: violet;
    position: absolute;
    bottom: 0px;
}
